<div class="vw-100 main-bg vh-100 d-flex flex-column">

  <!-- Menu -->
  <div class="position-absolute p-3">
    <h1 class="text-white">Ajax Type Ahead</h1>
    <h2 class="text-white">challenge6</h2>
    <p class="text-light">This is the sixth challenge.</p>
    <a href="#/" class="btn btn-outline-light btn-sm">Back</a>
  </div>

  <!-- Playing with CSS Variables and JS -->
  <div class="d-flex flex-column align-self-center align-items-center justify-content-start pt-5 h-100 w-25">
    <input class="form-control" type="text" placeholder="Search City ..." aria-label="search" id="searchBtn">
    <ul id="result" class="p-0"></ul>

  </div>

</div>
