:root {
  --primary: greenyellow;
  --bg-dark: rgba(0, 0, 0, 0.52);
}

.main-bg {
  background: #e9b004;
}

.main-bg-filter {
  background-blend-mode: unset;
}

#searchBtn{
  width: 400px;
  outline: none;
  background: white;
  height: 50px;
}
#searchBtn:focus {
  color: var(--bs-body-color);
  border-color: white;
  outline: 0;
  box-shadow: none;
}

ul#result {
  margin-top:-2px;
}

li{
  height: 50px;
  width: 320px;
  list-style: none;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
}

li:nth-child(odd) {
 transform: perspective(15px) rotateX(-1deg);
  margin-top:3px;
  box-shadow: 0 10px 40px -18px rgba(0, 0, 0, 0.3) inset;
}

li:nth-child(even) {
  transform: perspective(15px) rotateX(1deg);
  box-shadow: 0 -10px 40px -18px rgba(0, 0, 0, 0.3) inset;
}
