<div class="vw-100 main-bg vh-100 d-flex flex-column">

  <!-- Menu -->
  <div class="position-absolute p-3">
    <h1 class="text-white">Flex Panels Image Gallery</h1>
    <h2 class="text-white">challenge5</h2>
    <p class="text-light">This is the fifth challenge.</p>
    <a href="#/" class="btn btn-outline-light btn-sm">Back</a>
  </div>

  <!-- Playing with CSS Variables and JS -->
  <div class="d-flex align-items-center justify-content-center h-100 w-100">
    <div class="gallery d-flex flex-row bg-white">
      <div class="item h-100" id="item1">
        <p>HEY</p>
        <p>LET'S</p>
        <p>DANCE</p>
      </div>
      <div class="item h-100" id="item2">
        <p>GIVE</p>
        <p>TAKE</p>
        <p>RECEIVE</p>
      </div>
      <div class="item h-100" id="item3">
        <p>EXPERIENCE</p>
        <p>IT</p>
        <p>TODAY</p>
      </div>
      <div class="item h-100" id="item4">
        <p>GIVE</p>
        <p>ALL</p>
        <p>YOU CAN</p>
      </div>
      <div class="item h-100" id="item5">
        <p>LIFE</p>
        <p>IN</p>
        <p>MOTION</p>
      </div>
    </div>
  </div>

</div>
