<div class="vw-100 main-bg vh-100 d-flex flex-column">
  <div class="play w-100 h-100"></div>

  <!-- Menu -->
  <div class="position-absolute p-3">
    <h1 class="text-white">Playing with CSS Variables and JS</h1>
    <h2 class="text-white">challenge3</h2>
    <p class="text-light">This is the third challenge.</p>
    <a href="#/" class="btn btn-outline-light btn-sm">Back</a>
  </div>

  <!-- Playing with CSS Variables and JS -->
  <div class="setting row d-flex flex-column align-items-center justify-content-start gap-3">
    <div class="col-10 d-flex flex-row align-items-center justify-content-between">
      <label for="spacing" class="form-label">Spacing:</label>
      <input type="range" class="form-range" value="0" min="0" max="50" id="spacing">
    </div>
    <div class="col-10 d-flex flex-row align-items-center justify-content-between">
      <label for="blur" class="form-label">Blur:</label>
      <input type="range" class="form-range" value="0" min="0" max="10" id="blur">
    </div>
    <div class="col-10 d-flex flex-row align-items-center justify-content-between">
      <label for="colorInput" class="form-label">Base Color:</label>
      <input id="colorInput" type="color" class="form-control form-control-color border-0" value="#969696"
             title="Choose color">
    </div>
  </div>

</div>
