<div class="container-fluid main-bg main-bg-filter vh-100 d-flex flex-column">
  <!-- Menu -->
  <div class="position-absolute p-3">
    <h1 class="text-white">CSS + JS Clock</h1>
    <h2 class="text-white">challenge2</h2>
    <p class="text-light">This is the second challenge.</p>
    <a href="#/" class="btn btn-outline-light btn-sm">Back</a>
  </div>

  <!-- CSS + JS Clock -->
  <div class="container d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="clock position-relative border border-5 border-white rounded-circle">

      <div class="hand hand-hour"></div>
      <div class="hand hand-minute"></div>
      <div class="hand hand-second"></div>

      <div class="center-point"></div>

    </div>
  </div>
</div>
