<div class="container-fluid main-bg vh-100">
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-row justify-content-center align-items-center">
      <div class="d-flex flex-row justify-content-center align-items-center gap-3">
        <div class="d-flex flex-column justify-content-around align-items-center qube" id="a">
          <b>A</b>
          <span>CLAP</span>
          <audio id="clap" src="/sounds/clap.wav"></audio>
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center qube" id="s">
          <b>S</b>
          <span>HIHAT</span>
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center qube" id="d">
          <b>D</b>
          <span>KICK</span>
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center qube" id="f">
          <b>F</b>
          <span>OPENHAT</span>
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center qube" id="g">
          <b>G</b>
          <span>BOOM</span>
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center qube" id="h">
          <b>H</b>
          <span>RIDE</span>
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center qube" id="j">
          <b>J</b>
          <span>SNARE</span>
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center qube" id="k">
          <b>K</b>
          <span>TOM</span>
        </div>
        <div class="d-flex flex-column justify-content-around align-items-center qube" id="l">
          <b>L</b>
          <span>TINK</span>
        </div>
      </div>
    </div>
  </div>
  <h2>Challenge 1</h2>
  <p>This is the first challenge.</p>
  <a href="#/">Back</a>
</div>
