<div class="container-fluid main-bg vh-100">
  <div class="menu_absolute p-3">
    <h2 class="text-white">challenge1</h2>
    <p class="text-light">This is the first challenge.</p>
    <a href="#/" class="btn btn-outline-light btn-sm">Back</a>
  </div>

  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-row justify-content-center align-items-center">
      <div class="d-flex flex-row justify-content-center align-items-center gap-3">
        <div class="qube">
          <div class="h-100 d-flex flex-column justify-content-around align-items-center" id="a">
            <b>A</b>
            <span>CLAP</span>
            <audio id="clap" src="sounds/clap.wav"></audio>
          </div>
        </div>
        <div class="qube">
          <div class="h-100 d-flex flex-column justify-content-around align-items-center" id="s">
            <b>S</b>
            <span>HIHAT</span>
            <audio id="hihat" src="sounds/hihat.wav"></audio>
          </div>
        </div>
        <div class="qube">
          <div class="h-100 d-flex flex-column justify-content-around align-items-center" id="d">
            <b>D</b>
            <span>KICK</span>
            <audio id="kick" src="sounds/kick.wav"></audio>
          </div>
        </div>
        <div class="qube">
          <div class="h-100 d-flex flex-column justify-content-around align-items-center" id="f">
            <b>F</b>
            <span>OPENHAT</span>
            <audio id="openhat" src="sounds/openhat.wav"></audio>
          </div>
        </div>
        <div class="qube">
          <div class="h-100 d-flex flex-column justify-content-around align-items-center" id="g">
            <b>G</b>
            <span>BOOM</span>
            <audio id="boom" src="sounds/boom.wav"></audio>
          </div>
        </div>
        <div class="qube">
          <div class="h-100 d-flex flex-column justify-content-around align-items-center" id="h">
            <b>H</b>
            <span>RIDE</span>
            <audio id="ride" src="sounds/ride.wav"></audio>
          </div>
        </div>
        <div class="qube">
          <div class="h-100 d-flex flex-column justify-content-around align-items-center" id="j">
            <b>J</b>
            <span>SNARE</span>
            <audio id="snare" src="sounds/snare.wav"></audio>
          </div>
        </div>
        <div class="qube">
          <div class="h-100 d-flex flex-column justify-content-around align-items-center" id="k">
            <b>K</b>
            <span>TOM</span>
            <audio id="tom" src="sounds/tom.wav"></audio>
          </div>
        </div>
        <div class="qube">
          <div class="h-100 d-flex flex-column justify-content-around align-items-center" id="l">
            <b>L</b>
            <span>TINK</span>
            <audio id="tink" src="sounds/tink.wav"></audio>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
