<div class="container-fluid main">
 <div class="container py-5">
   <div class="row g-4 align-items-center justify-content-center h-100 overflow-auto">
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/challenge1.jpg" class="card-img-top" alt="challenge1"/>
         <div class="card-body">
           <h5 class="card-title">JavaScript Drum Kit</h5>
           <a href="#/challenge/1/drum-kit">Go to Challenge 1</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/challenge2.jpg" class="card-img-top" alt="challenge2"/>
         <div class="card-body">
           <h5 class="card-title">CSS + JS Clock</h5>
           <a href="#/challenge/2/clock">Go to Challenge 2</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/challenge3.jpg" class="card-img-top" alt="challenge3"/>
         <div class="card-body">
           <h5 class="card-title">Playing with CSS Variables and JS</h5>
           <a href="#/challenge/3/playing-with-CSS-variables">Go to Challenge 3</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/challenge4.jpg" class="card-img-top" alt="challenge4"/>
         <div class="card-body">
           <h5 class="card-title">Array Cardio Day 1</h5>
           <a href="#/challenge/4/array-cardio-day-1">Go to Challenge 4</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/challenge5.jpg" class="card-img-top" alt="challenge5"/>
         <div class="card-body">
           <h5 class="card-title">Flex Panels Image Gallery</h5>
           <a href="#/challenge/5/flex_panels_image_gallery">Go to Challenge 5</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="challenge6"/>
         <div class="card-body">
           <h5 class="card-title">Ajax Type Ahead</h5>
           <a href="#/challenge/6/ajax_type_ahead">Go to Challenge 6</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Array Cardio Day 2</h5>
           <a href="#/challenge/7/" class="disabled">Go to Challenge 7</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Fun with HTML5 Canvas</h5>
           <a href="#/challenge/8/" class="disabled">Go to Challenge 8</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">14 Must Know Dev Tools Tricks</h5>
           <a href="#/challenge/9/" class="disabled">Go to Challenge 9</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Hold Shift to Check Multiple Checkboxes Day 10 DOM & Interface</h5>
           <a href="#/challenge/10/" class="disabled">Go to Challenge 10</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Custom HTML5 Video Player</h5>
           <a href="#/challenge/11/" class="disabled">Go to Challenge 11</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Key Sequence Detection (KONAMI CODE)</h5>
           <a href="#/challenge/12/" class="disabled">Go to Challenge 12</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Slide In on Scroll</h5>
           <a href="#/challenge/13/" class="disabled">Go to Challenge 13</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Object and Arrays - Reference VS Copy</h5>
           <a href="#/challenge/14/" class="disabled">Go to Challenge 14</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">LocalStorage and Event Delegation</h5>
           <a href="#/challenge/15/" class="disabled">Go to Challenge 15</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">CSS Text Shadow Mouse Move Effect</h5>
           <a href="#/challenge/16/" class="disabled">Go to Challenge 16</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Sorting Band Names without articles</h5>
           <a href="#/challenge/17/" class="disabled">Go to Challenge 17</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Tally String Times with Reduce</h5>
           <a href="#/challenge/18/" class="disabled">Go to Challenge 18</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Unreal Webcam Fun</h5>
           <a href="#/challenge/19/" class="disabled">Go to Challenge 19</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Native Speech Recognition</h5>
           <a href="#/challenge/20/" class="disabled">Go to Challenge 20</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Geolocation based Speedometer and Compass</h5>
           <a href="#/challenge/21/" class="disabled">Go to Challenge 21</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Follow Along Links</h5>
           <a href="#/challenge/22/" class="disabled">Go to Challenge 22</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Speech Synthesis</h5>
           <a href="#/challenge/23/" class="disabled">Go to Challenge 23</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Sticky Nav</h5>
           <a href="#/challenge/24/" class="disabled">Go to Challenge 24</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Event Capture, Propagation, Bubbling and Once</h5>
           <a href="#/challenge/25/" class="disabled">Go to Challenge 25</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Stripe Follow Along Dropdown</h5>
           <a href="#/challenge/26/" class="disabled">Go to Challenge 26</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Click and Drag to Scroll</h5>
           <a href="#/challenge/27/" class="disabled">Go to Challenge 27</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Video Speed Controller UI</h5>
           <a href="#/challenge/28/" class="disabled">Go to Challenge 28</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Countdown Clock</h5>
           <a href="#/challenge/29/" class="disabled">Go to Challenge 29</a>
         </div>
       </div>
     </div>
     <div class="col-4">
       <div class="card challenge_card">
         <img src="img/coming-soon-3.jpg" class="card-img-top" alt="coming-soon"/>
         <div class="card-body">
           <h5 class="card-title">Whack A Mole Game</h5>
           <a href="#/challenge/30/" class="disabled">Go to Challenge 30</a>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
